.bw-products-slider {
  width: 100%;
}

.carousel-cell {
  width: calc(100% / var(--columns));
  margin-right: var(--gap);
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  border: 1px solid #000;
}

.caption {
  margin-top: 10px;
  text-align: center;
  font-family: serif;
}
