/* WooCommerce Checkout two-column layout using only CSS */

/* Desktop layout */
.woocommerce-checkout form.checkout {
    position: relative;
}

.woocommerce-checkout form.checkout::after {
    content: "";
    display: block;
    clear: both;
}

.woocommerce-checkout form.checkout #customer_details {
    width: 58%;
    float: left;
    margin-right: 5%;
    box-sizing: border-box;
}

.woocommerce-checkout form.checkout #order_review,
.woocommerce-checkout form.checkout #order_review_heading {
    width: 37%;
    float: left;
    box-sizing: border-box;
}

/* Sticky order review */
.woocommerce-checkout form.checkout #order_review {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
}

/* Mobile layout */
@media (max-width: 899px) {
    .woocommerce-checkout form.checkout #customer_details,
    .woocommerce-checkout form.checkout #order_review,
    .woocommerce-checkout form.checkout #order_review_heading {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    .woocommerce-checkout form.checkout #order_review {
        position: static;
        top: auto;
    }
}
