/* BW NavShop Widget Styles */

.elementor-widget-bw-navshop .bw-navshop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.bw-navshop__item {
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    outline: none;
}
