.bw-products-slider {
  width: 100%;
  overflow: hidden;
}
.bw-products-slider .carousel-cell {
  width: 100%;
}
.bw-products-slider .carousel-cell img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 200px;
  object-fit: cover;
}
