/*
| ====================================================================
| = MOBILE MENU
| ====================================================================
*/

.menu-mobile {
  position: relative;
}

button.menu-toggle {
  cursor: pointer;
  outline: none !important; 
  border: none !important;
  padding: 0;
  background: transparent !important;
  border-radius: 0px !important;
}
button.menu-toggle:hover {
  cursor: pointer;
  opacity: 0.5;
    
  outline: none !important; 
  border: none !important;
  padding: 0;
  background: transparent !important;

}

.burger-icon rect {
  fill: #000;
}

.menu-popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: .3s;
}

.menu-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-popup ul li {
  margin-bottom: 20px;
}

.menu-popup ul li a {
  display: block;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.menu-mobile.show-popup .menu-popup {
  z-index: 99999;
  visibility: visible;
  opacity: 1;
}


button.close-popup {
  position: absolute;
  top: 2%;
  right: 5%;
  cursor: pointer;
  outline: none !important; 
  border: none !important;
  padding: 0;
  background: transparent !important;
  
}


button.close-popup:hover {
  cursor: pointer;
  opacity: 0.5;
  
  outline: none !important; 
  border: none !important;
  padding: 0;
  background: transparent !important;
}

.close-icon line {
  stroke: #000;
  stroke-width: 2;
}




.elementor-section-full_width[data-stretch="1"] .elementor-element-populated {
  padding: 0 !important;
}

.slick-slider.sas-grid-medium {
  margin-left: 0 !important;
}