:root {
  --product-overlay-gallery-width: 1200px;
}



.product-image-overlay {
  visibility: hidden;
  opacity: 0;
  background-color: #F5F4F1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  overflow-y: hidden;
  height: 100vh;
  transition: .3s;
  
    top: 0;
    left: 0;
    right: 0;

}

/* HEADER */
.product-image-overlay-header {
 /*
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr 95% 1fr;
 */ 
  border-bottom: 1px solid #CCCCCC;
  max-width: 1200px;
  margin: auto;
}  

.product-image-overlay-header-container h2 {
    font-size: 21px;
    margin: 0;
}

@media (max-width: 1200px) {
	.product-image-overlay-header  {
		padding: 0 15px 0 15px;
	}
	

}  

.product-image-overlay-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1200px;
  height: 80px;
}

.product-image-overlay-header-close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.product-image-overlay-header-close button,
.product-image-overlay-header-close button:hover,
.product-image-overlay-header-close button:focus,
.product-image-overlay-header-close button:active,
.product-image-overlay-header-close button:focus-visible,
.product-image-overlay-header-close button:target,

.product-image-overlay-header-close-btn:hover,
.product-image-overlay-header-close-btn:focus,
.product-image-overlay-header-close-btn:focus-visible,
.product-image-overlay-header-close-btn:active,
.product-image-overlay-header-close-btn:target {
  outline: none !important; 
  border: none !important;
  padding: 0;
  background: transparent !important;
}

.product-image-overlay-header-close-btn {
  border: none !important;
}


/* GALLERY */
.product-image-overlay-gallery {
  /* display: flex;
  flex-direction: column;
  align-items: center;*/
  
  max-height: calc(100vh - 90px);
  overflow-y: scroll;
  width: 100%;
}

.product-image-overlay img {
  width: 1200px;
  margin: 0 auto 25px;
  display: block;
}
@media (max-width: 1200px) {
	.product-image-overlay img {
		padding: 0 15px 0 15px;
	}
}
.product-image-overlay img:first-child {
  margin-top: 30px;
}



/* Margin Admin Bar */
.admin-bar .product-image-overlay {
  height: calc(100vh - 32px);
  margin-top: 32px;
}



/* Hide scroll bar when overlay open */
body.product-image-overlay-open::-webkit-scrollbar {
  display: none;
}

body.product-image-overlay-open {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}