/**
 * Blackwork Site Settings - Admin Menu Icon Styles
 * Forza il colore verde dell'icona nel menu admin.
 */

#adminmenu #toplevel_page_blackwork-site-settings .wp-menu-image {
    filter: none !important;
}

#adminmenu #toplevel_page_blackwork-site-settings .wp-menu-image img,
#adminmenu #toplevel_page_blackwork-site-settings .wp-menu-image svg {
    opacity: 0 !important;
    filter: none !important;
}

#adminmenu #toplevel_page_blackwork-site-settings .wp-menu-image::before {
    content: "";
    display: block;
    width: 20px;
    height: 6px;
    margin: 7px auto 0;
    border-radius: 50%;
    background: #80FD03;
    position: relative;
}

#adminmenu #toplevel_page_blackwork-site-settings .wp-menu-image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #000;
    transform: translate(-50%, -50%);
}
